[Unit]
Description=Greenbone Security Assistant
After=network.target
After=openvas-scanner.service
After=gvmd.service
Wants=gvmd.service

[Service]
Type=forking
User=gvm
Group=gvm
EnvironmentFile=-/etc/gvm/sysconfig/gsad-daemon.conf
#PermissionsStartOnly=true
#ExecStartPre=-/bin/touch /var/log/gvm/gsad.log
#ExecStartPre=-/bin/chown gvm.gvm /var/log/gvm/gsad.log
ExecStart=/usr/bin/gsad $GSAD_OPTIONS $GSAD_LISTEN_ADDRESS $GSAD_LISTEN_PORT $GSAD_MANAGER_LISTEN_ADDRESS $GSAD_MANAGER_LISTEN_PORT $GSAD_GNUTLS_PRIORITIES $GSAD_REVERSE_PROXY
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
