[Unit]
Description=Greenbone Vulnerability Manager
After=network.target
After=openvas-scanner.service
Wants=openvas-scanner.service
Before=gsa.service

[Service]
Type=forking
EnvironmentFile=-/etc/gvm/sysconfig/gvmd-daemon.conf
ExecStart=/usr/sbin/gvmd $GVMD_OPTIONS $GVMD_PORT $GVMD_LISTEN_ADDRESS $GVMD_SCANNER_HOST $GVMD_GNUTLS_PRIORITIES 
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
